<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.native.test" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>TestNative</name><js-module name="TestNative" src="www/TestNative.js"><clobbers target="cordova.plugins.TestNative" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="TestNative"><param name="android-package" value="com.native.test.TestNative" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/TestNative.java" target-dir="src/com/native/test/TestNative" /></platform></plugin>